body{
  overflow-y: scroll;
}
.title{
    text-align: center;
    font-size: 55px;
    margin-top: 12px;
  }
  .card{
    margin-bottom: 10px;
  }
  .card-title{
    display: inline-block;
    margin-right: 10px;
  }
  .card2{
    display: inline-block;
   
  }
  .form-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  .span1{
    color: red;
  }
  .App{
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }